# Sets

Sets are built-in data type in Python used to store collection of unique items. They are unordered,meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminate duplicate entries, and performing mathematical set operations like union, intersection, differnce, and symmetric difference.

In [1]:
# creating a set

myset = {1,2,3,4,5}
print(type(myset))

<class 'set'>

In [2]:
my_set = set()
print(type(my_set))

<class 'set'>

In [4]:
my_set = set([1,2,3])
print(my_set)

{1, 2, 3}

In [5]:
# Basic set operation

# Adding and removing elements

my_set.add(7)

In [6]:
print(my_set)

{1, 2, 3, 7}

In [7]:
my_set.remove(1)
print(my_set)

{2, 3, 7}

Difference between remove and discard is, when we try to remove element which is not present in set using "remove" it will give error, whereas discard didnot give error

In [8]:
my_set.discard(5)
print(my_set)

{2, 3, 7}

In [10]:
# Set Membership test

set1 = {1,2,3,4,5}

print(8 in set1)
print(1 in set1)

False
True

In [11]:
# Mathematical Operations

set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8}

# Union
union_set = set2.union(set3)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
#intersection

intersection_set = set2.intersection(set3)
print(intersection_set)

{4, 5}

In [13]:
set2.intersection_update(set3)
print(set2)

{4, 5}

In [15]:
set2

{4, 5}

In [14]:
print(set2.difference(set3))

set()

In [16]:
set2.symmetric_difference(set3)

{6, 7, 8}

In [17]:
# Set Methods

print(set1.issubset(set2))

False

In [19]:
print(set1.issuperset(set2))

True

In [20]:
# Counting unique words in text

text = "In this video we are discussing about sets"
words = text.split()

#convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'we', 'video', 'about', 'are', 'this', 'discussing', 'In'}
8

In [21]:
# Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [22]:
# Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [24]:
# Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

s = set(range(1, 11))
evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [25]:
# Create a frozenset with the first 5 positive integers. Print the frozenset.

fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [26]:
# Create a set and iterate over the elements, printing each element.

s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5