# Tuples

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different

In [1]:
## creating tuple


empty_tuple = ()
print(empty_tuple)

print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
num = (1, "hello", 1.2, True)
print(num)

(1, 'hello', 1.2, True)

In [3]:
## Accessing tuple elements

num

(1, 'hello', 1.2, True)

In [4]:
num[0]

1

In [5]:
num[-1]

True

In [6]:
num[:3]

(1, 'hello', 1.2)

In [7]:
num[::-1]

(True, 1.2, 'hello', 1)

## Tuple Operations

In [8]:
num2 = (3,2,'x','p')

In [10]:
concatenation_tuple = num + num2

print(concatenation_tuple)

(1, 'hello', 1.2, True, 3, 2, 'x', 'p')

In [12]:
num*2

(1, 'hello', 1.2, True, 1, 'hello', 1.2, True)

## Immutable nature of Tuple

Tuples are immutable, meaning their element cannot be changed once assigned

In [13]:
num[1]

'hello'

In [14]:
num[1] = 'r'

TypeError: 'tuple' object does not support item assignment

## Tuple Methods

In [ ]:
#it will count how many time given element is repeated in that tuple

print(num.count(1))

2

In [16]:
# Will give index where specific element is present

print(num.index(1))

0

## Packing & Unpacking tuple

In [18]:
packed_tuple = 1, "world", 3.14
print(packed_tuple)

(1, 'world', 3.14)

In [19]:
a,b,c = packed_tuple
print(a,b,c)

1 world 3.14

In [20]:
# unpacking with *

numbers = (1,2,3,4,5,5,6)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 5]
6

## Nested Tuple

In [21]:
tuplee = ((1,2,3),(4,5,6),(7,8,9))
print(tuplee)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [22]:
tuplee[1]

(4, 5, 6)

In [24]:
tuplee[2][1]

8

In [26]:
# iterating over nested tuples

for sub_tuple in tuplee:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [27]:
# Create a tuple with the first 10 positive integers. Print the tuple.

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.

print(tpl[0])
print(tpl[-1])
print(tpl[len(tpl) // 2])

1
10
6

In [31]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tpl[:3])
print(tpl[7:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [32]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

tpl2 = ((1,2,3),(4,5,6),(7,8,9))

for i in tpl2:
    for item in i:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [33]:
tpl2[1][2]

6

In [34]:
for row in tpl2:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [35]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl1 = (1,2,3)
tpl3 = (4,5,6)

concat = tpl1 + tpl3
print(concat)

(1, 2, 3, 4, 5, 6)

In [36]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
 
dup = (1,3,4,5,2,5,2,1,5,4,1,5,1,3)

print(dup.count(1))
print(dup.count(5))
print(dup.index(5))

4
4
3

In [37]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

ptpl = 1,2,3,4,5
print(ptpl)

(1, 2, 3, 4, 5)

In [39]:
a,b,c,d,e = ptpl

print(a,b,c,d,e)

1 2 3 4 5

In [42]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst = [1,2,3,4,5]
tpll = tuple(lst)
tpll

(1, 2, 3, 4, 5)

In [43]:
print(type(tpll))

<class 'tuple'>